/vendor
/node_modules
/public/storage
/public/descargas
/public/facturas_clientes
/public/facturas_pdf
/public/facturas_word
/public/templates
/public/reportes
Homestead.yaml
Homestead.json
.env
!/vendor/phpoffice/phpword/src/PhpWord/TemplateProcessor.php